rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // This rule allows anyone with your Firestore database reference to view, edit,
    // and delete all data in your Firestore database. It is useful for getting
    // started, but it is configured to expire after 30 days because it
    // leaves your app open to attackers. At that time, all client
    // requests to your Firestore database will be denied.
    //
    // Make sure to write security rules for your app before that time, or else
    // all client requests to your Firestore database will be denied until you Update
    // your rules
    match /{document=**} {
       allow read, write: if request.time < timestamp.date(2024, 11, 3);
     }
    function isAuth() {
    	return request.auth.uid != null;
    }
    function isAuthorOrAdmin(authorDataUid) {
    	// OR 연산자를 사용할 경우 비용이 적게 드는것을 앞쪽에 배치하기!
    	// isAdmin을 체크하려면 documents를 가져와야 하므로 더 많은 비용이 발생!
    	return authorDataUid == request.auth.uid || isAdmin();
    }
    function isAdmin() {
    	return request.auth.uid != null && get(/databases/(database)/documents/users/$(request.auth.uid)).data.rule == 'admin'
    }
    function allowUpdateFields(fields){
    	return (request.response.data.diff(resource.data).affectedKeys().hasOnly(fields));
    }
    match /posts/{postId} {
    	allow read: if true;
      allow create: if isAuth();
      allow delete: if isAuthorOrAdmin(resource.data.uid);
      allow update: if allowUpdateFields(['readCount']) || isAuthorOrAdmin(resource.data.uid);
    }
  }
}